@tailwind base;
@tailwind components;
@tailwind utilities;

.hanoi {
  font-family: Mohave;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.time {
  color: #e2a872;
  font-family: Mohave;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.join {
  color: #fdd86e;
  font-family: Mohave;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.joinn {
  color: #fff;
  font-family: Mohave;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.building {
  color: #fff;
  font-family: Oxygen Mono;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.fifty {
  color: #fff;
  font-family: Andale Mono;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.info {
  color: #fff;
  font-family: Oxygen Mono;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}
.infofifty {
  width: 202px;
  height: 34.684px;
  flex-shrink: 0;
}
.zaloo {
  color: #fff;
  text-align: right;
  font-family: Oxygen Mono;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.zalo {
  color: #4c8bf7;
  font-family: Oxygen Mono;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.coming {
  color: rgba(255, 255, 255, 0.5);
  font-family: Oxygen Mono;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.talent {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Syne Mono;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
